/* Write your CSS here */
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  padding: 5px;
  margin: 10px;
}
.destination-image {
  height: 150px;
  width: 200px;
}
.destination-name {
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  font-family: 'roboto';
}
